.page {
  font-family: var(--font-family);
  background-color: var(--background-color);
  background-attachment: fixed;
  font-size: 18px;
}

h2, h3 {
  font-size: 18px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decoration-color);
  border-right: 1px solid var(--decoration-color);
  align-self: flex-start;
  justify-self: end;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decoration-color);
  border-left: 1px solid var(--decoration-color);
  justify-self: start;
  align-self: flex-end;
}

.header {
  height: 100vh;
  padding: 10px;
  font-weight: 700;
  display: grid;
  grid-template-rows: auto 1fr auto 1fr;
  grid-template-columns: 1fr 1fr;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header__decoration-dark {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-self: end;
  grid-row: 1;
  grid-column: 2;
  height: min-content;
  color: var(--accent-color);
  font-size: var(--regular-font-size);
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  visibility: var(--is-light);
}

.header__decoration-dark::after {
  content: "";
  align-self: center;
  width: 9px;
  height: 9px;
  margin-right: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  text-shadow: 0 0 3px var(--accent-color);
}

.header__theme-menu {
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
  align-self: center;
  position: relative;
  margin-top: -11px;
  color: var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--h3-color);
}

.header__theme-menu-button {
  color: var(--button-color);
  cursor: pointer;
  padding: 0 13px;
  margin-top: 10px;
  line-height: 26px;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__title {
  grid-row: 3;
  grid-column: 1 / span 2;
  justify-self: start;
  color: var(--h1-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: var(--small-line-height);
  text-shadow: 4px 4px var(--accent-color);
}

.header__text {
  grid-row: 4;
  grid-column: 1 / span 2;
  justify-self: end;
  align-self: center;
  display: inline-block;
  height: min-content;
  line-height: 1.4628rem;
}

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.thesis:first-of-type {
  margin-top: 0;
}

.thesis {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.thesis__title {
  color: var(--h2-color);
  font-size: 18px;
  line-height: 1.4628rem;
}

.card__text {
  margin-top: 10px;
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.4628rem;
}

.second__thesis-title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.4628rem;
}

.thin-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4628rem;
}

.text-link {
  text-decoration: none;
  text-shadow: 3px 2px 0 var(--accent-color);
  line-height: 1.4628rem;
}

.thesis__pictures {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.picture__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  height: 100vh;
  padding: 10px;
  display: grid;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--h1-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-shadow: 4px 4px var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid var(--accent-color-opacity);
}

.text-link:focus {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

.header__theme-menu-button:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--button-color);
}

@media (min-width: 768px) {
  .header {
    padding: 20px;
  }
  
  .header__title {
    position: relative;
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .header__text {
    grid-column: 2;
  }
  
  .main {
    padding: 60px 20px;
    gap: 80px;
  }
  
  .thesis {
    display: grid;
    grid-template-columns: 32% 65%;
    gap: 20px;
    align-items: start;
    grid-auto-rows: auto;
  }

  .thesis__pictures {
    gap: 20px;
  }
  
  .half__width-card {
    grid-column: 2;
  }
  
  .full__width-card {
    grid-column: 1 / span 2;
  }
  
  .picture__container {
    display: grid;
    gap: 20px;
    box-sizing: border-box;
  }
  
  .image {
    object-position: center;
    object-fit: cover;
  }

  .image:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .image:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .image:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .image:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  .image:nth-child(6) {
    grid-column: 2/4;
    grid-row: 2;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__title {
    margin-top: -22px;
  }
  
  .header__theme-menu {
    grid-row: 1;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    display: flex;
    gap: 10px;
    margin-top: 8px;
  }
  
  .header__theme-menu-button {
    margin-top: 0;
  }
  
  .thesis {
    grid-template-columns: 32% 66%;
  }
  
  .thesis__table_articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
  }
  
  .full__width-card {
    grid-row: 2;
    grid-column: auto;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
